ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}
li a {
	display: block;
	color: black;
	padding: 8px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #555;
	color: white;
}
body {
	background-color: lavender;
}
#about {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	margin: 20px 0 20px 0;
}
footer {
	background-color: grey;
	padding: 20px 0 20px;
	font-size: 15px;
	line-height: 3px;
	color: white;
	margin-top: 30px;
}